*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

/* Hero Slides  */
.carousel-indicators {
  display: none !important;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0.9rem !important;
  left: 0% !important;
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
  padding-left: 6rem;
  width: 41rem;
  padding-right: 0rem;
  color: #fff;
  text-align: left !important;
  background-color: rgb(0 0 0 / 50%);
}

.slider-quote{
  font-size: 1rem;
}

.hero-slide-title{
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}

.hero-slide-learn-more{
  background-color: white;
  border: none;
  color: black;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
}
/* About Start */

.about-responsive{
  display: none;
}

.about-company-title{
display: block;
}

.about-responsive-title{
  display: none;
}


#companyAbout{
  margin-top: 80px;
}

#parent{
  position: relative;
  margin-left: 8rem;
  margin-top: 55px;

}
.left{
  width: 30rem;
  background-color: rgb(183, 224, 224);
  height: 20rem;
}

.about-company-img{
  position: absolute;
  top: -40px;
  left: -40px;
  width: 30rem;
  height: 20rem;
}

.about-company-des{
  color: var(--clr-grey-8);
  font-size: 1rem;
  font-family: system-ui;
  line-height: 1.7;
  text-align: justify;
  margin-top: 1.5rem;
  
}

.readMore{
  background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 0.25rem;
    text-transform: capitalize;
    color: var(--clr-primary-5);
    text-decoration: none;
}

.about-company-des-second{
  margin-top: 1rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 0.25rem;
  text-transform: capitalize;
  color: var(--clr-primary-8);
  text-align: justify;
}

/* About Team */

#companyTeam{
  margin-top: 80px;
}
.about-team-des{
  color: var(--clr-grey-8);
  font-size: 1rem;
  font-family: system-ui;
  line-height: 1.7;
  text-align: justify;
  margin-top: 1.5rem;
}

.about-team-des-second{
  margin-top: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 0.25rem;
  text-transform: capitalize;
  color: var(--clr-primary-8);
  text-align: justify;
}

.left-layout{
  width: 30rem;
  background-color: rgb(183, 224, 224);
  height: 20rem;
}

#parent-layout{
  position: relative;
  margin-left: 0rem;
  margin-top: 55px;

}

.about-team-img{
  position: absolute;
  top: -40px;
  left: 40px;
  width: 30rem;
  height: 20rem;
}

/* MVP Trip Section  */

.eWjCzc {
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6em;
  background-color: rgba(29, 11, 60, 0.1) !important;
  color: #333;
  box-shadow: 0 0 2px 0px #333;
  border-radius: 50%;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  outline: none;
}

.llqNir {
  /* display: -webkit-box; */
  /* display: -webkit-flex; */
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
  /* -webkit-justify-content: center; */
  -ms-flex-pack: center !important;
  /* -webkit-align-items: center; */
  /* -webkit-box-align: center; */
  -ms-flex-align: none !important;
  align-items: normal !important;
  height:400px !important;
  width: 55% !important;
  background-color: white !important;
  color: #fff;
  margin: 0px;
  font-size: 4em;
  filter: brightness(0.9);
  column-gap: 10px;
  cursor: pointer;
}

.trip-items-col{
  position: relative;
  margin-top: -12px;
}

.trip-title{
  margin-top: 0px;
  color: white;
  margin-left: 126px;
  position: absolute;
  top: -92px;
  font-weight: bold;
  
  
}

.trip-date{
  margin-top: 0px;
  color: white;
  position: absolute;
  font-size: 1.4rem;
  top: -54px;
  left: 7.8rem;
  
}

.trip-heading{
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.rec-arrow-left{
  position: absolute;
  z-index: 9999;
  background-color: white !important;
  left: 90px;
}

.eWjCzc:hover:enabled, .eWjCzc:focus:enabled {
  color: black !important;
  background-color: rgba(103,58,183,1);
  box-shadow: 0 0 2px 0 #333;
}

.rec-arrow-right{
  position: absolute;
  z-index: 9999;
  left: 89%;
  background-color: white !important;
}
#Trip{
  margin: 5rem auto;
}

/* Review */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
/*
=============== 
Slider
===============
*/
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.title span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 700;
}
.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}
article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}
.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
.prev,
.next {
  position: absolute;
  top: 40px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

/* second review */
.review-button{
position: relative;
}

#social-work{
  margin: 5rem auto;
}
/* Trekking Level */
.trekking-level-img{
  filter: brightness(0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 33rem;
  position: relative;
}

.level-first-circle{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.5);
  top: 8.7rem;
}

.level-img{
  position: relative;
}

.level-logo{
  width: 96px;
  margin-left: 1.5rem;
  margin-top: 10px;
  color: white;
  height: auto;
}

.level-first-circle h3{
  color: white;
  font-size: 16px;
  text-align: center;
}

.level-first-circle:hover{
  border-style:solid;
border-color: #fff;
cursor: pointer;
}

.level-second-circle{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.5);
  top: 9.6rem;
  left: 37rem;
}

.level-second-circle:hover{
  border-style:solid;
border-color: #fff;
cursor: pointer;
}

.level-second-circle h3{
  color: white;
  font-size: 16px;
  text-align: center;
}


.level-third-circle{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.5);
  top: 9.5rem;
  left: 58rem;
}

.level-third-circle:hover{
  border-style:solid;
border-color: #fff;
cursor: pointer;
}
.level-third-circle h3{
  color: white;
  text-align: center;
  font-size: 14px;
}
  
.level-fourth-circle{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.5);
  top: 3rem;
  left: 84rem;
}

.level-fourth-circle:hover{
  border-style:solid;
border-color: #fff;
cursor: pointer;
}

.level-fourth-circle h3{
  color: white;
  text-align: center;
  font-size: 16px;
}

.level-bg-img{
  margin-top: 1.8rem;
}

/* Trekking details */

.trekking-parent{
  height: 355px;
  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden;      /* hide the overflow */
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
}

.trekking-parent img {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  
  vertical-align: middle;
}

.trekking-parent img:hover{
  -webkit-transition: all 0.5s ease-in;
  transform: scale(1.099);

}
/* Trekking Section */
.trekking-img-home{
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}


.trekking-parent-i{
  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden;      /* hide the overflow */
  cursor: pointer;
  position: relative;
}

.trekking-img-home-i{
  width: 100%;
  object-fit: cover;
}


.trekking-parent-i img {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  vertical-align: middle;
}

.trekking-parent-i img:hover{
  -webkit-transition: all 0.5s ease-in;
  transform: scale(1.099);
}

.trekking-heading{
  position: absolute;
  top: 18rem;
  color: white;
  font-weight: bold;
  margin-left: 0.5rem;
  font-weight: bold;
}

.Expeditions-heading{
  position: absolute;
  color: white;
  font-weight: bold;
  margin-left: 0.5rem;
  top: 13rem;
  font-weight: bold;
}

.trekking-parent-2{
  height: 100%;
  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden;      /* hide the overflow */
  cursor: pointer;
  position: relative;
}

.trekking-img-home-iii{
  height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.tour-title{
  position: absolute;
  color: white;
  font-weight: bold;
  top: 36.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

.trekking-parent-2 img {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  vertical-align: middle;
}

.trekking-parent-2 img:hover{
  -webkit-transition: all 0.5s ease-in;
  transform: scale(1.099);
}

/* Trek in 2022 */

.details{
  height: 445px;
  position: relative;
  cursor: pointer;
}

.best-sell-trek-img{
  height: 100%;
  object-fit: cover;
}

.details-second{
  height: 510px;
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;
}

.details-title{
  position: absolute;
  top: 22.5rem;
  margin-left: 1rem;
  color: white;
  font-weight: bold;
}

.details-date{
  position: absolute;
  top: 25rem;
  margin-left: 1rem;
  color: white;
  font-weight: bold;
}


.details-title-i{
  position: absolute;
  top: 26.5rem;
  margin-left: 1rem;
  color: white;
  font-weight: bold;
  
}

.details-date-i{
  position: absolute;
  top: 29rem;
  margin-left: 1rem;
  color: white;
  font-weight: bold;

}

.best-sell-trek-img:hover{
  filter: brightness(0.8);
}

